/* 
    Document   : login
    Created on : 27-Nov-2014, 5:38:52 PM
    Author     : c0640045
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


form{
    
    margin: 2em auto;
    width: 40%;
    border: 1px solid black;
    
}

label {
    display: block;
    margin: 1em 1em;
    
    
}

#username{
   
    
}

#subbutton{
    display: block;
    margin: 1em auto;
   
}

h1{
    text-align: center;
    
    
}
